<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto - Trajes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nuevostyles.css') }}">
</head>
<body>

<header>
    <nav>
        <a href="{{ url_for('nuevoindex') }}">Sobre Nosotros</a>
        <a href="{{ url_for('trajes') }}">Trajes</a>
        <a href="{{ url_for('contacto') }}">Contacto</a>
    </nav>
  <h1 class="title">Alquiler y venta de trajes</h1>
</header>

<main class="section-container">
    <section id="contacto" class="contacto-simple">

    <img src="{{ url_for('static', filename='img/imagenes/Logo-tienda.png') }}"
        alt="Logo de la tienda"
        class="contacto-imagen">

    <div class="contacto-texto">
        <h3>Contáctanos</h3>

        <p class="contacto-parrafo">
        Visítanos en <em>Arequipa, Perú</em><br>
        Avenida Jesús 2204<br>
        Tel: +51 940 764 838
        </p>

        <p class="contacto-links">
        <a href="https://www.facebook.com" target="_blank">Facebook</a> ·
        <a href="https://www.instagram.com" target="_blank">Instagram</a> ·
        <a href="mailto:Koketacce@gmail.com">Gmail</a>
        </p>
    </div>

    </section>
</main>

<footer>
  <span>&copy; 2025 Alquiler y venta de trajes</span>
</footer>

</body>
</html>
