<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de alquiler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nuevostyles.css') }}">
</head>
<body>
    <header>
      <nav>
          <a href="{{ url_for('nuevoindex') }}">Sobre Nosotros</a>
          <a href="{{ url_for('trajes') }}">Trajes</a>
          <a href="{{ url_for('contacto') }}">Contacto</a>
      </nav>
      <h1 class="title">Alquiler y venta de trajes</h1>
    </header>

    <!-- Formulario -->
    <section id="formulario">
      <h2>Formulario de Alquiler</h2>
      <form>
        <label for="nombre">Nombre completo:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br><br>

        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" placeholder="ejemplo@correo.com" required>
        <br><br>

        <label for="celular">Número de celular:</label>
        <input type="tel" id="celular" name="celular" placeholder="Ej: 987654321" pattern="[0-9]{9}" required>
        <br><br>

        <label for="danza">Tipo de danza:</label>
        <select id="danza" name="danza" required>
          <option>Wititi</option>
          <option>Carnaval de Arequipa</option>
          <option>Pampeña</option>
          <option>Caporales</option>
          <option>Tinkus</option>
          <option>Waka waka</option>
          <option>Los negrillos de Chivay</option>
          <option>Montonero arequipeño</option>
        </select>
        <br><br>
        
        <label for="parejas">Cantidad de parejas:</label>
        <input type="number" id="parejas" name="parejas" required>
        <br><br>

        <label for="fecha">Fecha de alquiler:</label>
        <input type="date" id="fecha" name="fecha">
        <br><br>

        <input type="submit" value="Enviar" onclick="window.location.href='confirmacion.html'">
      </form>
    </section>
</body>
</html>