<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montonero Arequipeño</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nuevostyles.css') }}">
</head>

<body class="detalle-traje">

<header>
    <nav>
      <a href="{{ url_for('nuevoindex') }}">Sobre Nosotros</a>
      <a href="{{ url_for('trajes') }}">Trajes</a>
      <a href="{{ url_for('contacto') }}">Contacto</a>
    </nav>
    <h1 class="title">Alquiler y venta de trajes</h1>
</header>

<main class="section-container">
    <section id="trajes">
        <div class="article-container">
            <article class="faq-item-text-content">
                <img src="{{ url_for('static', filename='imagenes/imagenMontonero.jpeg') }}"
                     alt="Montonero Arequipeño"
                     class="image-item">
                <h3>Montonero Arequipeño</h3>
                <p>
                    El Montonero Arequipeño es una danza tradicional que rinde homenaje a los
                    valientes combatientes populares que defendieron la ciudad de Arequipa durante
                    las luchas por la independencia y los movimientos cívicos del siglo XIX.
                    Representa el coraje, el orgullo y el espíritu rebelde del pueblo arequipeño.
                    El traje típico masculino incluye sombrero de ala ancha, poncho o chaqueta oscura,
                    pantalón de bayeta y botas, evocando el atuendo de los antiguos montoneros; mientras
                    que la mujer lleva blusa blanca, falda amplia de colores sobrios y manto o chal decorado.
                    Este traje refleja la fuerza, la tradición y la identidad heroica de Arequipa.
                </p>
                <p>
                    <strong>Precio de alquiler:</strong> S/25 <br>
                    <strong>Precio de venta:</strong> S/120
                </p>
                <a href="{{ url_for('formulario') }}" class="boton-formulario">
                    Formulario de reserva
                </a>
            </article>
        </div>
    </section>
</main>

<footer>
        <p>
            Contáctanos · Arequipa, Perú ·
            <a href="https://www.facebook.com" target="_blank">Facebook</a> ·
            <a href="https://www.instagram.com" target="_blank">Instagram</a> ·
            <a href="mailto:Koketacce@gmail.com">Gmail</a>
        </p>
        <span>&copy; 2025 Tienda de Trajes</span>
</footer>

</body>
</html>
