<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trajes - Alquiler y Venta</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nuevostyles.css') }}">
</head>

<body>
  <!-- HEADER -->
  <header>
    <!-- NAV -->
    <nav>
      <a href="{{ url_for('nuevoindex') }}">Sobre Nosotros</a>
      <a href="{{ url_for('trajes') }}">Trajes</a>
      <a href="{{ url_for('contacto') }}">Contacto</a>
    </nav>

    <h1 class="title">Alquiler y venta de trajes</h1>
  </header>

  <!-- MAIN -->
  <main class="section-container">
    <section id="trajes">
      <h2 >Tipos de Danzas y Trajes</h2>

      <!-- Contenedor principal -->
      <div class="article-container">

        <!-- Tarjeta 1 -->
        <article class="faq-item-text-content">
          <h3>¿Cómo puedo alquilar un traje de danza?</h3>
          <ol>
            <li>Elija los trajes de la danza deseada.</li>
            <li>Complete el formulario de reserva.</li>
            <li>Recoge tu traje en tienda o solicita envío.</li>
          </ol>
        </article>
        <!-- Tarjeta 2 -->
        <article class="faq-item-text-content">
          <a href="{{ url_for('wititi') }}">
          <img src="{{ url_for('static', filename='imagenes/imagenWititi.jpeg') }}" alt="Wititi" class="image-item">
          </a>
          <h3><a href="{{ url_for('wititi') }}">Wititi</a></h3>
          <p><strong>Precio de venta:</strong> S/80</p>
          <p><strong>Precio de alquiler:</strong> S/20</p>
        </article>

        <!-- Tarjeta 3 -->
        <article class="faq-item-text-content">
          <a href="{{ url_for('carnaval') }}">
          <img src="{{ url_for('static', filename='imagenes/CarnavaldeArequipa.jpeg') }}" alt="Carnaval de Arequipa" class="image-item">
          </a>
          <h3><a href="{{ url_for('carnaval') }}">Carnaval de Arequipa</a></h3>
          <p><strong>Precio de venta:</strong> S/120</p>
          <p><strong>Precio de alquiler:</strong> S/25</p>
        </article>

        <!-- Tarjeta 4 -->
        <article class="faq-item-text-content">
          <a href="{{ url_for('montonero') }}">
          <img src="{{ url_for('static', filename='imagenes/imagenMontonero.jpeg') }}" alt="Montonero" class="image-item">
          </a>
          <h3><a href="{{ url_for('montonero') }}">Montonero Arequipeño</a></h3>
          <p><strong>Precio de venta:</strong> S/120</p>
          <p><strong>Precio de alquiler:</strong> S/25</p>
        </article>

        <!-- Tarjeta 5 -->
        <article class="faq-item-text-content">
          <a href="{{ url_for('pampenia') }}">
          <img src="{{ url_for('static', filename='imagenes/imagenPampenia.jpg') }}" alt="Pampeña" class="image-item">
          </a>
          <h3><a href="{{ url_for('pampenia') }}">Pampeña</a></h3>
          <p><strong>Precio de venta:</strong> S/90</p>
          <p><strong>Precio de alquiler:</strong> S/20</p>
        </article>

        <!-- Tarjeta 6 -->
        <article class="faq-item-text-content">
          <a href="{{ url_for('negrillos') }}">
          <img src="{{ url_for('static', filename='imagenes/imagenNegrillosdeChivay.jpg') }}" alt="Los Negrillos de Chivay" class="image-item">
          </a>
          <h3><a href="{{ url_for('negrillos') }}">Los Negrillos de Chivay</a></h3>
          <p><strong>Precio de venta:</strong> S/125</p>
          <p><strong>Precio de alquiler:</strong> S/40</p>
        </article>

        <!-- Tarjeta 7 -->
        <article class="faq-item-text-content">
          <a href="{{ url_for('caporales') }}">
          <img src="{{ url_for('static', filename='imagenes/caporales.jpg') }}" alt="Caporales" class="image-item">
          </a>
          <h3><a href="{{ url_for('caporales') }}">Caporales</a></h3>
          <p><strong>Precio de venta:</strong> S/140</p>
          <p><strong>Precio de alquiler:</strong> S/50</p>
        </article>

        <!-- Tarjeta 8 -->
        <article class="faq-item-text-content">
          <a href="{{ url_for('tinkus') }}">
          <img src="{{ url_for('static', filename='imagenes/tinkus.jpeg') }}" alt="Tinkus" class="image-item">
          </a>
          <h3><a href="{{ url_for('tinkus') }}">Tinkus</a></h3>
          <p><strong>Precio de venta:</strong> S/75</p>
          <p><strong>Precio de alquiler:</strong> S/15</p>
        </article>

        <!-- Tarjeta 9 -->
        <article class="faq-item-text-content">
          <a href="{{ url_for('wakawaka') }}">
          <img src="{{ url_for('static', filename='imagenes/wakawaka.jpeg') }}" alt="Waka Waka" class="image-item">
          </a>
          <h3><a href="{{ url_for('wakawaka') }}">Waka Waka</a></h3>
          <p><strong>Precio de venta:</strong> S/220</p>
          <p><strong>Precio de alquiler:</strong> S/40</p>
        </article>

      </div>
    </section>
  </main>

  <!-- FOOTER -->
  <footer>
    <p>&copy; 2025 Alquiler y venta de trajes. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
